<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.test.inside.mapper.CalendarMapper">
    <!-- 通用查询映射结果 -->
    <resultMap id="Calendar" type="com.test.inside.model.pojo.Calendar">
        <result column="id" property="id" />
        <result column="userid" property="userid" />
        <result column="date" property="date" />
        <result column="emoji" property="emoji" />
        <result column="content" property="content"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, userid, date, emoji, content
    </sql>

    <select id="selectAll" resultType="int">
        SELECT max(id) FROM calendar
    </select>

    <select id="getPlanDate" parameterType="int" resultMap="Calendar">
        SELECT emoji,content,id,date
        FROM  calendar
        WHERE  userid = #{userid}
        ORDER BY date
    </select>
</mapper>