<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.test.inside.mapper.GroupMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.test.inside.model.pojo.Group">
        <id column="name" property="name" />
        <result column="tag" property="title" />
        <result column="userId" property="userId" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        name, title,userId
    </sql>

    <select id="getByUserId" resultType="com.test.inside.model.pojo.Group">
       SELECT name,title
          FROM group_
          WHERE userId = #{id}
    </select>


</mapper>
