<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.test.inside.mapper.Mp3Mapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="Photo" type="com.test.inside.model.pojo.MP3Info">
        <result column="id" property="id" />
        <result column="songName" property="songName" />
        <result column="url" property="url" />
        <result column="singer" property="singer" />
        <result column="duration" property="duration" />
        <result column="photo" property="photo" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, songName,url,singer,duration,photo
    </sql>

    <select id="getName" resultType="com.test.inside.model.pojo.MP3Info">
       SELECT *
        FROM `mp3`
        WHERE userid = #{userid};
    </select>

    <select id="deleteByName">
        DELETE
        FROM `mp3`
        WHERE title = #{name} and userid = #{userid};
    </select>


</mapper>